/*模态框*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 根据浏览器定位 */
    z-index: 1; /* 放在顶部 */
    left: 0;
    top: 0;
    width: 100%; /* 全宽 */
    height: 100%; /* 全高 */
    overflow: auto; /* 允许滚动 */
    background-color: rgba(0,0,0,0.4); /* 背景色 */
}
/*模态框内容*/
.modal-content {
    display: flex; /*采用flexbox布局*/
    flex-direction: column; /*垂直排列*/
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /*距顶部15% 水平居中*/
    padding: 0px;
    border: 1px solid #888;
    width: 60%;
    animation: topDown 0.4s; /*自定义动画，从模态框内容上到下出现*/
}
@keyframes topDown {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/*模态框头部*/
.login_modal-header {
    display: flex; /*采用flexbox布局*/
    flex-direction: row; /*水平布局*/
    align-items: center; /*内容垂直居中*/
    justify-content: space-between;
    background-color: #7a6c63

}

.login_model_header_text{
    color: #ffffff;
    padding: 20px;
    font-size: 28px;
    margin-left: 8px;
    margin-top: 5px;
    /* height: 30%; */
}

/*关闭X 样式*/
.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: middle;
    padding: 20px;
}
.close:hover {
    color:white;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.3);
    /* rotate:  */
}

.home_login_input{
    width: 90%;
    height: 40px;
    border: 1px solid #ccc;
}

.home_login_input:hover{
    border-color: #7a6c63;
}

.home_login_name_combine{
    float:left;
    margin-left: 5px;
}

.home_login_name{
    border:transparent;
    height: 40px;
    background-color: transparent;
    margin-left: 3px;
}

.home_login_name:focus{
    border:transparent;
    box-shadow: transparent;
}

.home_login_pwd_combine{
    float:left;
    margin-left: 5px;
}

.home_login_pwd{
    border:transparent;
    height: 40px;
    background-color: transparent;
    margin-left: 3px;
}

.home_login_pwd:focus{
    border:transparent;
    box-shadow: transparent;
}

.home_login_wrap{
    margin-top:5px;
    margin-bottom:5px;
}

.home_login_btn{
    color: #7a6c63;
    font-size: 18px;
    margin: 5px;
    margin-top:5px;
    margin-bottom: 5px;
    border: 5px;
}

.home_login_btn:hover{
    text-shadow: #000000;
}

.home_login_start{
    cursor: pointer;
    font-weight: bolder;
    font-size: 25px;
}