.query_first_layer{
    margin-left: auto;
    margin-right:auto;
    /* margin-top:13%; */
    /* padding-top: 13%; */
    background: transparent;
}

.query_second_layer{
    background: transparent;
}

.query_section{
    background: transparent;
    padding-top: 18%;
}

.query_inputs{
    color: black;
}

.query_title{
    color:black;
    position: relative;
    width: 100%;
    float:left;
    padding-right:800px;

}

.query_subtitle{
    color:black;
    font-weight: 700;
    padding-right:670px;
}

.query_table{
    margin-top:5%;
    margin-left:20px;
    color: black;
}

.query_row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 80%;
    margin-bottom: 10px;
}

.query_id{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    /* max-width: 25%; */
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 10px; */
    /* padding-left: 15px; */
}

.query_id_text{
    max-width: 20%;
    padding-left: 15px;
    margin-left: 8px;
}

.query_id_input{
    float:right;
    width: 100px;
    flex: 0 0 75%;
    border-color: #7a6c63;
}

.query_loanNumber{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    /* max-width: 25%; */
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 10px; */
    /* padding-left: 15px; */
}

.query_loanNumber_text{
    max-width: 20%;
}

.query_loanNumber_input{
    float:right;
    width: 100px;
    flex: 0 0 75%;
    border-color: #7a6c63;
    margin-left:9px;
}

.query_form{
    border:1px solid #cdcdcd;
    height: 36px;
    font:20px;
}

.query_date{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    /* max-width: 25%; */
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 10px; */
    /* padding-left: 15px; */
}

.query_date_text{
    max-width: 20%;
}

.query_date_input{
    float:right;
    width: 100px;
    flex: 0 0 75%;
    border-color: #7a6c63;
    margin-left:9px;
}

.query_button_submit{
    background-color: #7a6c63;
    font-size: 16px;
    margin-left: 50%;
}

.query_button_submit:hover{
    background-color:#7a6c63;
    font-size: 16px;
    margin-left: 50%;
}

.query_button_submit:active{
    background-color:#7a6c63;
    font-size: 16px;
    margin-left: 50%;
}

.query_button_submit:focus{
    background-color:#7a6c63;
    font-size: 16px;
    margin-left: 50%;
}
