.lending_input_center{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 8% ;
}

.lending_input_text{
    border-radius: 5px;
    border-color: #7a6c63;
    background: transparent;
}

.lending_input_text:focus{
    border: 1px solid #707070;
    background: white;
}

.lending_h6{
    color:black;
    padding-right: 60%;
}
.lending_h{
    color:black;
    padding-right: 70%;
    padding-top: 6%;
}


.lending_row_radio{
    padding-top:0px;
    background: transparent;
}

.lending_wrapper{
    background: transparent;
}

.lending_main{
    background: transparent;
}

.lending_container{
    background: transparent;
}

.lending_btn{
    background: #7a6c63;
    padding-top: 15px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 20px;
}

.lending_buttons{
    padding-top: 7%;
}

.lending_radio_label{
    color:black;
}

.lending_radio{
    padding-left:5%;
    border-color: #7a6c63;
}

.lending_row_inputs{
    padding-top:0px;
}
