.lending_confirm_container{
    padding-top: 17%;
    padding-left: 20%;
}

.lending_confirm_h5{
    color:black;
    padding-left: 0%;
}

.lending_confirm_btndiv{
    padding-left: 10%;
}

.lending_confirm_btn{
    background: #7a6c63;
    padding-top: 15px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 20px;
}

.confirmlending_btn{
    background: #7a6c63;
    padding-top: 10px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 20px;
}

.lending_amount_div{
    padding-top: 20px;
}

.lending_confirm_mh5{
    padding-top:5px;
    padding-bottom: 5px;
    color: black;
}

.lending_confirm_position{
    position: relative;
}

.lending_confirm_text{
     border-radius: 5px;
    border-color: #7a6c63;
    background: transparent;
    margin-left: 15px;
    width: 270px;
    height: 40px;
}

.lending_confirm_text:focus{
    border-color: black;
     border-radius: 5px;
    border-color: #7a6c63;
    background: transparent;
    margin-left: 15px;
    width: 270px;
    height: 40px;
}