.lending_analysis_h {
    padding-top: 10%;
    align-items: center;
    color: black;
}

.report {
    border: 1px solid;
    background: whitesmoke;
    border-radius: 10px;
    top: 10%;
    left: 3%;
    right: 3%;
    width: 100%;
    min-height: 50%;
    height: auto;
}

.lending_analysis_container {
    background: transparent;
}

.lending_analysis_btnleftdiv {
    width: 50%;
    align-items: center;
}

.lending_analysis_btnrightdiv {
    width: 50%;
    align-items: center;
}

.lending_analysis_btn {
    background: #7a6c63;
    padding-top: 15px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 20px;
}

.lending_analysis_btnrow {
    left: 5%;
    right: 5%;
}

.lending_results_row {
    margin: auto;
}

.lending_results_title {
    margin: auto;
    text-align: right;
}

