/*模态框*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 根据浏览器定位 */
    z-index: 1; /* 放在顶部 */
    left: 0;
    top: 0;
    width: 100%; /* 全宽 */
    height: 100%; /* 全高 */
    overflow: hidden; /* 允许滚动 */
    background-color: rgba(0,0,0,0.4); /* 背景色 */
}
/*模态框内容*/
.modal-content {
    display: flex; /*采用flexbox布局*/
    flex-direction: column; /*垂直排列*/
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /*距顶部15% 水平居中*/
    padding: 0px;
    border: 1px solid #888;
    width: 60%;
    animation: topDown 0.4s; /*自定义动画，从模态框内容上到下出现*/
}
@keyframes topDown {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/*模态框头部*/
.login_modal-header {
    display: flex; /*采用flexbox布局*/
    flex-direction: row; /*水平布局*/
    align-items: center; /*内容垂直居中*/
    justify-content: space-between;
    background-color: #7a6c63

}

.login_model_header_text{
    color: #ffffff;
    padding: 20px;
    font-size: 28px;
    margin-left: 8px;
    margin-top: 5px;
    /* height: 30%; */
}

/*关闭X 样式*/
.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
}
.close:hover {
    color:white;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.3);
    /* rotate:  */
}

.login_error{
    background-color: #fdeff2;
    border-color: #ee827c;
    margin-left: 40px;
    margin-right: 80px;
}

.home_login_input{
    width: 90%;
    height: 40px;
    border: 1px solid #ccc;
}

.home_login_input:hover{
    border-color: #7a6c63;
}

.home_login_name_combine{
    float:left;
    margin-left: 5px;
}

.home_login_wrap{
    margin-top:5px;
    margin-bottom:5px;
}

.home_login_btn{
    background-color: #7a6c63;
    font-size: 18px;
    margin: 5px;
    /*margin-top:5px;*/
    /*margin-bottom: 5px;*/
    border: 5px;
}

.login_btn:hover{
    cursor: pointer;
}

.home_login_btn:hover{
    text-shadow: #000000;
}

.home_login_start{
    cursor: pointer;
    font-weight: bolder;
    font-size: 25px;
}

.success_model_header{
    display: flex; /*采用flexbox布局*/
    flex-direction: row; /*水平布局*/
    align-items: center; /*内容垂直居中*/
    justify-content: space-between;
    background-color: #7a6c63;
    height:10%;
}

.success_model_header_text{
    color: #ffFFFF;
    padding: 5px;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 5px;
    /* height: 30%; */
}

.div_successful{
    max-width: 80px;
    flex-direction: row; /*水平布局*/
    /*margin-left: 40%;*/
    margin-left:auto;
    margin-right:auto;
    list-style-type: none;
}

.successful{
    text-align: center;
    list-style-type: none;
}

.success_text{
    color: #7a6c63;
    font-size: 13px;
    /*margin: 5px;*/
    margin-left:auto;
    margin-right:auto;
}

/*#box{*/
/*    width: 80px;*/
/*    height: 40px;*/
/*    background: #fd7430;*/
/*    border:none;*/
/*    border-radius: 5px;*/
/*    outline: none;*/
/*    color: #fff;*/
/*}*/

/*.div-container{*/
/*    position: fixed;*/
/*    top: 0%;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index:200;*/
/*    background: rgba(0,0,0,0.5) !important;!* 兼容ie几不知道，好像ie5 *!*/
/*    background:#000;*/
/*    filter:Alpha(opacity=60);*/
/*}*/
/*!*设置div-child的父元素主要是将要此元素的父元素透明特性继承过来，故div-child不会半透明，而是不透明，解决了父元素透明，子元素也透明的bug *!*/
/*.div-child-container{*/
/*    position: relative;*/
/*    width: 400px;*/
/*    height: 200px;*/
/*    margin: auto;*/
/*    top: 30%;*/
/*    background: #fff;*/
/*    z-index: 250; !*z-index要放在父元素之上 *!*/
/*}*/

/*.div-child{*/
/*    width: 400px;*/
/*    height: 200px;*/
/*    margin:auto;*/
/*    background: #fff;*/
/*    z-index: 300; !*z-index要放在父元素之上 *!*/
/*    text-align: center;*/
/*    margin-radius: 10px;*/
/*}*/

/*.div-child span{*/
/*    position: relative;*/
/*    top: 40px;*/
/*}*/

/*.div-child .my-btn{*/
/*    margin-top: 80px;*/
/*}*/
/*.div-child .my-btn button{*/
/*    width: 80px;*/
/*    height: 40px;*/
/*    background:#fd7430;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    color: #fff;*/
/*    outline: none;*/
/*}*/

/*.div-child.my-btn button:first-child(){*/
/*    margin-right: 20px;*/
/*}*/

.exitaccount_btn{
    background: #7a6c63;
    padding-top: 10px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 20px;
}

.exitaccount_div{
    display: flex;
    justify-content: center;
    align-items: center;
    /*max-width: 80px;*/
    flex-direction: row; /*水平布局*/
    /*margin-left: 40%;*/
    margin-left:auto;
    margin-right:auto;
    list-style-type: none;
}

.exitaccount_ul{
    padding-inline-start:0px;
    list-style-type: none;

}

.modal_li{
    list-style-type: none;
}

.lending_confirm_mh5{
    padding-top:5px;
    padding-bottom: 5px;
    color: black;
}

.lending_confirm_position{
    position: relative;
}

.lending_confirm_text{
     border-radius: 5px;
    border-color: #7a6c63;
    background: transparent;
    margin-left: 15px;
    width: 270px;
    height: 40px;
}

.lending_confirm_text:focus{
     border-radius: 5px;
    border-color: #7a6c63;
    background: transparent;
    margin-left: 15px;
    width: 270px;
    height: 40px;
}

.um_psw_con{
    background: #7a6c63;
    padding-top: 10px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 20px;

}

.center-try{
    align-items: center;
}

.repayment_amount{
    padding-bottom: 20px;
}
.repayment_text_left{
    border-radius: 5px;
    border-color: #7a6c63;
    background: transparent;
    height: 40px;
}

.repayment_btn_right{
   display: flex;
    justify-content: center;
    align-items: center;

}