<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/logo_title.png">
    <link rel="icon" type="image/png" href="../static/img/logo_title.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Shield</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/css/demo.css" rel="stylesheet" />
    <!-- Canonical SEO -->
    <link rel="canonical" href="" />
    <!--  Social tags      -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="../static/css/modalBox.css">
</head>

<body class="index-page sidebar-collapse">
    <!-- Navbar导航条 -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="../static/img/home_logo_long.png" alt="">
            </div>
            <ul class="navbar-nav our_nav">
                <a class="navbar-brand our_nav_menu">菜单</a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#example-navbar" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <div class="collapse navbar-collapse" id="example-navbar"
                    data-nav-image="../static/img/blurred-image-1.jpg">
                    <ul class="navbar-nav our_nav_menu_contains">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                首页
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".\lending.html">
                                贷款
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".\repayment.html">
                                还款
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".\query.html">
                                查询
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                data-toggle="dropdown">
                                <i class="now-ui-icons ui-1_settings-gear-63"
                                    aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="navbarDropdownMenuLink">
                                <a class="top_dropdown_header dropdown-header">账户管理</a>
                                <a class="dropdown-item" href="#">账户信息</a>
                                <!-- <a class="dropdown-item" href="#">修改密码</a>
                                <a class="dropdown-item" href="#">退出登录</a> -->
                                <div class="divider"></div>
                                <a class="dropdown-item" href="#">修改密码</a>
                                <div class="divider"></div>
                                <a class="dropdown-item" href="#">退出登录</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="black"><!--遮罩的颜色-->
            <div class="page-header-image" data-parallax="true" style="background-image: url('../static/img/home.jpg');">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <!-- <img class="n-logo" src="../static/img/home_logo.png" alt=""> -->
                    <!-- <h1 class="h1-seo">点击开始</h1> -->
                    <!-- 触发按钮 href="./login.html" -->
                    <a id="triggerBtn" class="home_login_start" rel="tooltip" title="" data-placement="bottom">
                        <h1 class="h1-seo">点击开始</h1>
                    </a>

                    <!-- <h3>A beautiful Bootstrap 4 UI kit. Yours free.</h3> -->
                </div>

                <!-- 模态框 -->
                <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="login_modal-header">
                                <h2 class="login_model_header login_model_header_text">登录</h2>
                                <span id="closeBtn" class="close">×</span>
                            </div>
                            <div class="modal-body">
                                <div class="confirm=tips">
                                    <div class="error-wrap">
                                        <span class="error error-show" style="display:none;">用户名或密码错误</span>
                                    </div>
                                    <ul>
                                        <li class="home_login_input">
                                            <!-- <i class="icon_people"></i> -->
                                            <div class="home_login_name_combine">
                                                <img class="icon_people" src="../static/img/home_login_people.png" alt="">
                                                <input type="text" tabindex="1" name="login_name" placeholder="用户名"
                                                    data-type="login_name" class="home_login_name home_login_name_left">
                                            </div>

                                        </li>
                                        <li class="home_login_input noMargin">
                                            <!-- <i class="icon_Pwd"></i> -->
                                            <div class="home_login_pwd_combine">
                                                <img class="icon_pwd" src="../static/img/home_login_pwd.png" alt="">
                                                <input type="password" tabindex="2" name="login_password" placehelder="Password"
                                                data-type="login_pwd" class="home_login_pwd home_login_input_left">
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div class="home_login_wrap">
                                    <a href="" class="home_login_btn">
                                        登录
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="modal-footer">
                                <h3>尾部</h3>
                            </div> -->
                        </div>
                    </div>

                <!-- <div class="home_login">
                    <div class="home_login_inner">
                        <div class="home_login_inner_top">
                            <div class="home_login_inner_top_title">
                                登录
                            </div>
                            <button class="home_login_inner_close">
                                Close
                            </button>
                        </div>
                        <div class="home_login_inner_content">
                            <div class="confirm=tips">
                                <div class="error-wrap">
                                    <span class="error error-show" style="display:none;">用户名或密码错误</span>
                                </div>
                                <ul>
                                    <li class="home_login_input">
                                        <i class="icon IconPeople"></i>
                                        <input type="text" tabindex="1" name="login_name" placeholder="用户名"
                                            data-type="login_name" class="home_login_input home_login_input_left">
                                    </li>
                                    <li class="home_login_input noMargin">
                                        <i class="icon IconPwd"></i>
                                        <input type="password" tabindex="2" name="login_password" placehelder="密码"
                                            class="home_login_input home_login_input_left home_login_inout_no input_text">
                                    </li>
                                </ul>
                            </div>
                            <div class="home_login_wrap">
                                <a href="" class="home_login_btn">
                                    登录
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <h6 class="category category-absolute">Designed by
                    <a href="#" target="_blank">
                        <img src="../static/img/invision-white-slim.png" class="invision-logo" />
                    </a>. Coded by
                    <a href="#" target="_blank">
                        <img src="../static/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
                    </a>.</h6>
            </div>
        </div>
    </div>
</body>

<!--   Core JS Files   -->
<script src="../static/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../static/js/core/popper.min.js" type="text/javascript"></script>
<script src="../static/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../static/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../static/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="../static/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Share Library etc -->
<script src=".../static/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="../static/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/modalBox_home.js"></script>

</html>