<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/logo_title.png">
    <link rel="icon" type="image/png" href="./assets/img/logo_title.png">
    <title>lending</title>
</head>
<body>
<div id="inputs">
                        <h4>Inputs</h4>
                        <p class="category">姓名</p>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Regular" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group has-success">
                                    <input type="text" value="Success" class="form-control form-control-success" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group has-danger">
                                    <input type="email" value="Error Input" class="form-control form-control-danger" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Right Nucleo Icon">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
</body>
</html>