<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/logo_title.png">
    <link rel="icon" type="image/png" href="./assets/img/logo_title.png">
    <title>{{Title}}</title>
</head>
<body>
<div>
    <span class="repay-head">
        <h1>还款界面</h1>
    </span>
</div>
<div>
        <div class="search">
            <div class="search-methods-drop">
                <select id="search-methods" name="search-methods">
                    <option value="identity-num">身份证号</option>
                    <option value="serial-num">流水单号</option>
                </select>
            </div>
            <form>
                号码：<input type="text" name="search-methods-num" value="">
                <input type="submit" value="查询">
            </form>
        </div>
        <div class="need-repay-info">
        	<p>应该插入一个类似表格的东西，<br>
        		可以在其中选中某项，<br>
        	并且需要获取选中的条目</p>
        </div>
        <div class="repay-button">
       		 <button id='repay-button' type="submit">还款</button>
   		 </div>
</div>
</body>
</html>